.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  background-color: #020f10;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#p
{
border-radius: 50px;
}
#g
{
  text-align: center;
}
#k
{
  height: 200px;
  width: 200px;
}
#h
{
  height: 50px;
  width: 50px;
}
body{
  background-color: azure;
}
#G
{
  text-align: center;
  
  
}
#pic
{
  height: 100px;
  width: 100px;
  position: absolute;
  transform: translate(150px,-100px);
}
#word
{
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#in
{
  height: 50px;
  width: 50px;
}
#J
{
  text-align: center;
}